body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    padding-top: 70px;
}


.cryptoContainer{
    padding: 20px;
}

.cryptoContent{
    min-height: 250px;
    border: 1px gray solid;
    border-radius: 15px;
}
.cryptoContent:hover {
    color: #333;
    background-color: rgba(46,47,45,0.04);
    border-color: #adadad;
    cursor: pointer;
}

.cryptoText{
    margin-top: 15px;
    font-size: 20px;
}

.cryptoPic{
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.generalBtn{
    border: 1px #adadad solid;
}
