body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    padding-top: 70px;
}

.navbar {
    background-color: white;
}

.cryptoContainer {
    padding: 20px;
}

.cryptoContent {
    min-height: 250px;
    border: 1px gray solid;
    border-radius: 15px;
}

.cryptoContent:hover {
    color: #333;
    background-color: rgba(46, 47, 45, 0.04);
    border-color: #adadad;
    cursor: pointer;
}

.cryptoText {
    margin-top: 15px;
    font-size: 20px;
}

.cryptoPic {
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.filter {
    margin-top: 10px;
    margin-bottom: 10px;
}

.generalBtn {
    border: 1px #adadad solid;
}

#apiCalls{
    font-size: 10px;
    font-style: italic;
}